@import '../../../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

.product {
  cursor: pointer;  
  min-height: 365px;
  max-height: 365px;
}

.card-img-top {
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-anchor: middle;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  border-bottom: 0;
  height: 180px;
  padding: 0;
  position: relative;
}

.card-img-top ul {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  margin: 0;
  overflow: scroll hidden;
  padding: 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  pointer-events: auto;
}

.card-img-top ul li {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  margin: 0;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.card-img-top ul li img, .card-img-top ul li svg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.card-img-top span.badge {
  align-items: center;
  background: #107e02;
  color:white;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 4px;
  font-size: 12px;
  height: 24px;
  left: 16px;
  top: 16px;
  max-width: calc(100% - 16px);
  position: absolute;
  z-index: 8;
  display: block;
  text-overflow: ellipsis;
  padding: 4px 8px;
}

