<nb-card class="product" *ngIf="product" (click)="onClick()">
  <nb-card-header class="card-img-top">
    <ul>
      <li>
        <img [src]="product.img_urls[0]" />
      </li>
    </ul>
    <span *ngIf="product.isPromoted" class="badge">Impulsionado</span>
  </nb-card-header>
  <nb-card-body>
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">
      {{ product.price | currency : "BRL" }}
      <small *ngIf="product.previousPrice" class="ml-2 text-muted" style="text-decoration: line-through">{{ product.previousPrice | currency : "BRL" }}</small>
    </p>
  </nb-card-body>
  <ul class="list-group list-group-flush mb-3">
    <li class="list-group-item">
      <p class="card-text mb-1">
        <i class="fa fa-map-pin mr-2"></i>
        <small class="text-muted">São Paulo</small>
      </p>
      <p class="card-text">
        <small class="text-muted">{{
          product.createdAt | date : "dd/MM/yyyy HH:mm"
        }}</small>
      </p>
    </li>
  </ul>
</nb-card>
