<div class="row">
  <div class="col-12">
      <ngx-home-banner></ngx-home-banner>
  </div>
  
  <div class="col-12">
    <ngx-category-list [categories]="categories"></ngx-category-list>
  </div>

  <div class="col-12 ad-row">
    <div class="ad-container"> 
      <div class="ad"><p>Publicidade</p></div>
      
    </div>
  </div>

  <div class="col-12">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      <div *ngFor="let product of products" class="card-col">
        <ngx-product-card [product]="product"></ngx-product-card>          
      </div>
    </div>
  </div>


  <div class="col-12">
    <div class="d-flex flex-row flex-nowrap overflow-auto">
      <div *ngFor="let product of recentProducts" class="card-col">
        <ngx-product-card [product]="product"></ngx-product-card>          
      </div>
    </div>
  </div>
</div>

