@import '../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

mdb-carousel-item {
  height: 320px;
}

.row .col-12 {
  margin-bottom: 20px;
}


.ad-row {
  display: flex;
  justify-content: center;
}

.ad-container {
  display: flex;
  justify-content: center;
  width: 970px;
  height: 90px;
  border: 1px gray;
}

.ad {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.ad p {
  position: absolute;
  width: 100px;
  text-align: center;
}

.card-col {
  flex: 1 0 calc(16.66% - 1rem);
  margin: 0 0.5rem;
}

@media screen and (min-width: 1500px) {
  .card-col {
    flex: 0 0 calc(16.66% - 1rem);
  }
}
@media screen and (min-width: 1200px) {
  .card-col {
    flex: 0 0 calc(20% - 1rem);
  }
}
@media screen and (min-width: 840px) {
  .card-col {
    flex: 0 0 calc(16.66% - 1rem);
  }
}
