@import '../../../@theme/styles/themes';
@import 'bootstrap/scss/mixins/breakpoints';
@import '@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}

mdb-carousel {
  width: 100%; /* Largura total do carrossel */
  height: 320px; /* Altura do carrossel */
}

mdb-carousel-item {
  width: 100%; /* A imagem ocupa toda a largura do carrossel */
  height: 320px; /* A imagem ocupa toda a altura do carrossel */
  object-fit: cover; /* A imagem será cortada para cobrir o espaço sem distorcer */
}