<mdb-carousel [indicators]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="../../../../assets/images/Banner3.jpg"      
      class="d-block w-100"
      alt="Banner1"
    />
  </mdb-carousel-item>  
  <mdb-carousel-item>
    <img
    src="../../../../assets/images/BannerFinal2.jpg"
      class="d-block w-100"
      alt="Banner2"
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="../../../../assets/images/BannerFinal3.jpg"      
      class="d-block w-100"
      alt="Banner3"
    />
  </mdb-carousel-item>
</mdb-carousel>
