<div class="row">
  <div class="col-md-12">
    <nb-card *ngIf="!loading">
      <nb-card-header>
        <nb-icon
          (click)="goBackToList()"
          [icon]="'arrow-ios-back-outline'"
          pack="eva"
        ></nb-icon>
        Sub Category {{ subCategory.id }}</nb-card-header
      >
      <nb-card-body>
        <div *ngIf="subCategory.id" class="summary-container">
          <div>
            <div>Created At</div>
            <div class="h6">
              {{ subCategory.createdAt | date : "dd/MM/YYYY HH:mm:ss" }}
            </div>
          </div>
          <div>
            <div>Products Count</div>
            <div class="h6">{{ subCategory._count?.Product || 0 }}</div>
          </div>
        </div>

        <form
          (ngSubmit)="onSubmit(subCategoryForm.form)"
          #subCategoryForm="ngForm"
        >
          <div class="form-group">
            <label for="subCategoryName" class="label">Name</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="subCategoryName"
              placeholder="Name"
              required
              [(ngModel)]="subCategory.name"
              name="name"
            />
          </div>

          <div class="form-group">
            <label for="subCategoryCategory" class="label">Category</label>
            <nb-select
              [(ngModel)]="subCategory.category.id"
              id="subCategoryCategory"
              name="category"
              placeholder="Category"
              fullWidth
              required
            >
              <nb-option value="">Option empty</nb-option>
              <nb-option
                *ngFor="let category of this.categories"
                [value]="category.id"
                >{{ category.name }}</nb-option
              >
            </nb-select>
          </div>

          <div class="form-group">
            <button
              type="submit"
              nbButton
              status="primary"
              [disabled]="!subCategoryForm.form.valid"
            >
              Submit
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
